body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}


/* :root {
    --pr: #067CC2;
    --sc: #03C2E4;
    --gr: #021C67;
    --wh: #ffffff;
    --paragraph: #4a4a4a;
} */

a {
    text-decoration: none;
    color: #000;
    /* font-family: Open Sans; */
}

.clear {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-family: Open Sans;
}

.container-fluid {
    padding: 0 100px;
}

.navBarGrp .container-fluid {
    padding: 0 50px !important;
}

.wrapper {
    margin-top: 5pc;
}

.btn-outline {
    border: 2px solid #f4635e;
    color: #717171 !important;
    padding: 8px 20px;
}

.btn-primary {
    background-color: #067CC2;
    background-color: #067CC2;
    background-image: linear-gradient(120deg, #9fb8ad 0%, #1fc8db 51%, #067CC2 305%);
    /* background-image: linear-gradient(10deg, #f4635e, #2875f9); */
    color: #fff !important;
    border: 0px solid;
    padding: 8px 20px;
    min-width: 100px;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle,
.landSearch :hover {
    background-color: #ff5689;
    border: 0px solid;
    transition: all 0.4s ease 0s;
    font-weight: 400 !important;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: none;
}

.btn-secondary {
    background-color: #f8f8f8;
    color: #999999 !important;
    padding: 10px 20px;
    transition: all 0.4s ease 0s;
    border: 0px solid;
}

.btn-secondary:hover {
    background-color: #f8f8f8;
    transition: all 0.4s ease 0s;
    border: 0px solid;
    color: #fff !important;
    font-weight: 400 !important;
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff !important;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

::placeholder,
.custom-select {
    font-size: 14px;
    color: #999999;
}


/* navbar css */

.logoNav {
    background-color: #fff;
    padding: 5px 10px;
    height: 50px;
    border-radius: 5px;
}

.logoNav img {
    height: 100%;
}

.navbar-brand {
    padding: 0;
}

.nav-item a {
    font-size: 13px;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 500;
}

.navbar-nav li {
    padding-right: 25px;
}

.navbar-nav li:last-child {
    padding-right: 0;
}

.navbar {
    padding: 15px 0;
    background-color: #fff;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.15);
}


/* new design web ui */

.photoCollectNav {
    background-color: #4a4a4a !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
    margin-top: 0px !important;
    margin: 0;
    border-radius: 0;
    transition: all 0.4s ease 0s;
}

.photoCollectNav .nav-item a {
    color: #000 !important;
}

.menuUserImg {
    width: 40px;
    height: 40px;
}

.menuUserImg img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.form-control {
    height: 50px;
    border-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1)
}

.form-control:focus {
    border: 0px solid;
    border-bottom: 1px solid #03C2E4;
    box-shadow: none;
}

.navbar .dropdown-menu *,
.dashboardMenus * {
    transition: all 0.4s ease 0s;
    color: #425B71;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dashboardMenus a:hover {
    font-weight: bold;
    color: #03C2E4;
    margin-left: 8px;
    background-color: transparent;
}

.dropdown-menu {
    border: 0px solid;
}

.navNotify {
    position: relative;
}

.countNot {
    color: #fff;
    font-size: 8px;
    line-height: 13px;
    position: absolute;
    top: -10px;
    right: -18px;
    height: 15px;
    border-radius: 1000px;
    text-align: center;
    background-color: darkorange;
    padding: 0 6px;
}


/* dsahbard desings */

.dashGrp {
    position: fixed;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    min-width: 200px;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.dashSpaceCut {
    background-color: #fff;
    height: 100%;
    padding: 0;
}

.dashboardMenus ul {
    margin: 0;
    padding: 0 20px;
}

.dashboardMenus li:first-child {
    padding-top: 20px;
}

.dashboardMenus li {
    list-style-type: none;
    padding: 8px 0;
    color: #757575;
    position: relative;
}

.dashboardMenus a {
    text-decoration: none;
    color: #757575;
    font-size: 14px;
}

.dashContain {
    padding: 20px 20px 0 0;
    margin-top: 6.5pc;
    position: relative;
}

.dashContain h1 {
    /* text-align: center; */
    font-weight: bold;
    font-size: 25px;
    /* position: relative; */
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.photobazarCard {
    margin-bottom: 32px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.photobazarCard h4 {
    font-weight: bold;
    color: #425B71;
}

.photobazarCard p {
    color: #4a4a4a;
    font-size: 13px;
}

label {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}

.dashFooter p {
    float: right;
    font-size: 11px;
    color: #888;
    margin-top: 20px;
    font-weight: bold;
}

.activeCase {
    background-color: #dadada;
    padding: 20px;
    border-radius: 10px;
}

.seeAllGrp {
    text-align: center;
}

.seeAllPr {
    width: auto;
    height: 200px;
    margin: 20px auto;
}

.seeAllPr img {
    width: 100%;
    height: 100%;
}

.userImgs img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.userImgs {
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.userImgGrp h6 {
    margin-bottom: 15px;
}

.adminData {
    margin-top: 65px;
    border-bottom: 1px solid #ddd;
}

.userImg {
    width: 60px;
    height: 60px;
    margin: 15px auto;
}

.userImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.userInfo {
    padding-top: 25px;
}

.userInfo h6 {
    margin-bottom: 0;
    font-size: 13px;
    color: #757575;
}

.userInfo p {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: bold;
}

.btn-gharBhadaBtn {
    background-color: #0b9c98;
    border-radius: 5px;
    padding: 13px 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
}

.btn-gharBhadaBtn:hover {
    background-color: #10c9c3;
    color: #fff !important;
}

.houesGrp {
    margin: 30px 0 0 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .15);
}

.houseImg {
    width: auto;
    height: 180px;
    margin: 0 auto 20px auto;
    position: relative;
}

.houseImg img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.priceTag {
    background-color: #f7b101;
    padding: 3px 10px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    border-radius: 0.25rem;
}

.houesGrp h6 {
    font-weight: bolder;
    margin-bottom: 10px;
}

.seeAllGrp a {
    text-decoration: none;
    font-size: 15px;
}

.seeAllGrp a:hover {
    font-weight: bold;
    color: #10c9c3;
}

.houesGrp a {
    text-decoration: none;
    color: #000;
}

.houesGrp a:hover {
    color: #0b9c98;
}
